<sendform>
        <div class="boxedtransp">
      <form id="message-form">
        <input id="usid" type="hidden" name="usid" value="{{room_n}}"/>
        <input id="messageinput" style="width: 80%" name="message" type="text" placeholder="message" autofocus autocomplete="off"/>
        <button>Send</button><br/>
        <label style="text-align:left;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Interest groups: </label>
        <label style="float:right;font-size:14px;">(messages for last 7 days are shown)  &nbsp; &nbsp; </label>
        <div style="margin:4px;">
          <button id="bb1" onclick="setInterestGroup(1);" type="button">General</button>
          <button id="bb2" onclick="setInterestGroup(2);" type="button">Surfing</button>
          <button id="bb3" onclick="setInterestGroup(3);" type="button">Diving</button>
          <button id="bb4" onclick="setInterestGroup(4);" type="button">Boat trip</button>
          <button id="bb5" onclick="setInterestGroup(5);" type="button">Paragliding</button>
          <button id="bb6" onclick="setInterestGroup(6);" type="button">Water polo</button>
          <button id="bb7" onclick="setInterestGroup(7);" type="button">Sea skiing</button>
          <button id="bb8" onclick="setInterestGroup(8);" type="button">Yoga</button>
      </div>
      </form>
    </sendform>