<sendform>
        <div class="boxedtransp">
      <form id="message-form">
        <input id="messageinput" style="width: 80%" name="message" type="text" placeholder="message" autofocus autocomplete="off"/>
        <button>Send</button><br/><label style="width:80%;text-align:center">Interest groups:</label>
        <div style="margin:4px;">
          <button>Surfing</button>
          <button>Diving</button>
          <button>Boat trip</button>
          <button>Paragliding</button>
          <button>Water polo</button>
          <button>Beach valley</button>
          <button>Sea skiing</button>
          <button>Yoga</button>
      </div>
      </form>
    </sendform>