<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/js/libs/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/weather-icons.min.css">
    {{!-- <link rel="stylesheet" type="text/css" href="/static/css/weather-icons.css"> --}}
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mango Riviera</title>

            <!-- css customized for this page -->
        <style type="text/css">
						
  </style>
  
  </head>
  {{!-- <body style="background-size: 100%; background-attachment: fixed;   opacity: 0.2;position: absolute;z-index: -1;" background="/static/images/sandbeach.jpeg"> --}}
<body style="background-size: 100%; background-attachment: fixed; " background="/static/images/sandbeach.jpeg"></body>
    <script src="socket.io/socket.io.js"></script>
    <script type='text/javascript' src='/js/libs/hbs.js'></script>

    <script src="/js/libs/moment-with-locales.js"></script>
    <script src="/js/libs/mustache.js"></script>
    
    <!--div class="container"-->

      <script type="text/javascript" src="/js/weather.js"></script>
      <script type="text/javascript" src="/js/weatherScheduler.js"></script>



    <div id="content">

        {{!-- <script id="menu_partial_template" type="text/x-handlebars-template">
          {{> partialTemplate_MENU currentpage = "Wind: 40 miles/h, 82"}}<br>
        </script>

        <div id="menu_placeholder"></div>
        
        <script src="/js/menu.js"></script> --}}
        {{> header firstlink = "About"}}
      <div class="container">
      
      </div>
        <div id="left">
            
        <div id="weather_placeholder"></div>
        
        <script src="/js/weather.js"></script>

            <!- activity, rating, percentage booked, book or enroll buttons ->
            <div>
                
              <h4>Activities</h4>  <!- dolphine show, visit ancient castle, sport contest   ->
              <ul id="tab"></ul>
            </div>
            
            <h4>Spa and Wellness</h4>  <!- spa Wellness, fitness O'zone, crossfit ManGo->
            <ul id="tabspa"></ul>
            <h4>Pools</h4>  <!- dolphine show, visit ancient castle, sport contest ->
            <h4>Meals</h4>  <!- dolphine show, visit ancient castle, sport contest ->
            <h4>Services</h4>  <!- airport shuttle, room service, sport contest ->

        </div>
          
    <div id="right">

      <ol id="messages"></ol>
      <script id="message-template" type="text/x-handlebars-template">
        <div>
          {{text}}
        </div>
      </script>

      <form id="message-form">
        <input id="messageinput" name="message" type="text" placeholder="message" autofocus autocomplete="off"/>
        <button>Send</button>
      </form>

  
    </div>
        {{> footer}}
    </div>

      {{!-- script for tooltips --}}
      <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
      });
      </script>

    <script src="/js/index.js"></script>
  </body>
</html>
