

body {
    background: #e5e9eb !important;
    /* background-image:("/static/images/bluesea.jpeg"); */
    /* background: url(/static/images/bluesea.jpeg) top right no-repeat !important; */
	color: #FFFFFF !important;
	font-size:16px !important;
	font-family: 'Assistant' !important;
	padding: 0px 0 0 10px;
}  

body.noScroll { /* ...or body.dialogShowing */
    overflow: hidden;
}

#content, html, body {
    height: 100%;
/* background: rgb(206, 188, 193); */
}

h1,h2,h3,h4,h5,h6{
	/* margin-top: 20px;
  	margin-bottom: 10px; */
  	color:#2f9eff;
}

p, ol{
	/* margin-top: 20px;
  	margin-bottom: 10px; */
  	color:#0a0a0a;
}

* {
	border-radius: 0px;
}

#left {
    /* background: #fff; */
          float: left;
          top:0px;
          width: 45%;
          color:#ffffff;
          height: 100%;
          overflow: scroll;
            border-right:5px solid #000000;
          border-left:20px solid transparent;
      }
#right {
          /* background: #fff; */
    float: left;
          top:0px;
            border-right:40px solid transparent;
            border-left:20px solid transparent;
          width: 55%;
          height: 100%;
          overflow: scroll;
      }
      
      ul.nav a.vb { color: #ffffff !important; font-size:14px !important;}
      ul.nav a.vb:active { background-color: #666666  !important; color: #ffffff !important; }
      ul.nav a.vb:focus { background-color: #666666  !important; color: #ffffff !important; }
      ul.nav a.vb:visited { background-color: #666666  !important; color: #ffffff !important; }

.stand14{
	font-size:12px !important;
	color:#ffffff;
}

/* MENU */
.navbar {
      background: #000000;
      border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand {
    color: #ffffff  !important;
}

.navbar .nav > li > a {
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
}

/* to change nav bar height */
.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 36px;
}
.navbar {min-height:36px !important;}

/* to make nav bar height change to work on mobiles */
.navbar-toggle {
     padding: 0 0;
     margin-top: 7px;
     margin-bottom: 0;
}

ul.nav a:hover { background-color: #666666  !important; color: #ffffff !important; }

/* BUTTONS */

.btn {
	border-radius: 0px;
}


.button {
   
    border: none;
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #e7e7e7; 
    color: black;
}

.button1:hover {
    background-color: white;
    color: #99cc33;
}
    
.button2 {
    background-color: #e7e7e7; 
    color: black;
}

.button2:hover {
    background-color: white;
    color: #ff6600;
}

/* ANCHORS */

a{
	color: #3b83e0;
	text-decoration: none;
}

a:link{
	color: #3b83e0;
	text-decoration: none;
}

a:visited{
	color: #3b83e0;
	text-decoration: none;
}

a:hover{
	color: #99cc33;
	transition-duration: 0.4s;
	text-decoration: none;
}

a:active {
    text-decoration: none;
}

a.lnk{
	color: #ffffff;
	text-decoration: none;
}

a.lnk:link{
	color: #ffffff;
	text-decoration: none;
}

a.lnk:visited{
	color: #ffffff;
	text-decoration: none;
}

a.lnk:hover{
	color: #99cc33;
	transition-duration: 0.4s;
	text-decoration: none;
}

a.lnk:active {
    text-decoration: none;
}


a.lists{
	color: #ffffff;
}

a.lists:link {
    text-decoration: none;
}

a.lists:visited {
    text-decoration: none;
}

a.lists:hover {
    /* text-decoration: none; */
    color: #99cc33;
	transition-duration: 0.4s;
}

a.lists:active {
    text-decoration: none;
}

a.addn{
	color: #b5b5b5;
	font-size: 14px;
}

a.addn:link {
    text-decoration: none;
}

a.addn:visited {
    text-decoration: none;
}

a.addn:hover {
    	color: #99cc33;
	transition-duration: 0.4s;
	font-size: 14px;
}

a.addn:active {
    text-decoration: none;
}

.addn2{
	color: #919191;
	font-size: 12px;
}

/*  INPUTS   */

input, textarea{
	font-size: 16px;
	color: #000000;
	border-radius: 0px;
}

/* select option*/

select#soflow, select#soflow-color, select#soflowf, select#soflowf-color, select#soflowr, select#soflowr-color {
   font-size: 16px;
   overflow: hidden;
   white-space: nowrap;
   width: 400px;
   color: #000000;
}

/*  FLASH MESSAGES */

.flash {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-align: center;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    width: 100%;
}

.flash.success {
    background-color: #7f9e40;
    color: #f3f6ee;
}

.flash.failure {
    background-color: #ac4343;
    color: #f2e2e2;
}


/*  OTHERS  */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    /* min-width: 100%; 
    min-height: 100%; */
    width: 100%; 
    /* height: 100%; */
    z-index: -1;
}

.oneline {
	width: 100%;
	white-space: nowrap; 
	overflow: hidden;
}

.bottompanel{
	position: fixed;
	bottom:0px;
	width: 100%;
}


/* Carousel */

.tales {
  width: 50%;
}
.carousel-inner{
  width:450px !important;
  max-height: 150px !important;
}

.carousel-indicators li { visibility: hidden; }

/* warning messages  */

.fieldWarning {
    	font-size: 14px;
    	color: #cd5c5c;
    	
  	padding: 4px 4px 4px 4px;
}

.pendingField {	
	color: #f2d768;
}

.section{
	padding-top:15px !important; 
}

.boxed {
    width: 350px;
    border: green;
    padding: 5px;
    margin: 5px;
    background: #ffffff !important;
    color: green;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
    opacity: 0.85;
}

.boxedtransp {
    width: 96%;
    border: green;
    padding: 5px;
    margin: 5px;
    background: #ffffff !important;
    color: green;
    /* font-size: 18px; */
    text-align: left;
    border-radius: 2px;
    opacity: 0.85;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 50px;
	background: #222222 !important;
	font-size: 12px;  
}

/*  TABLES  */

table {
    margin: 5px;
    color: #000;
    font-size: 14px; 
}
th, td {
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #999;
}
th {
    background: #ccc;
}
tr:nth-child(odd) {
    /* background: #eee; */
    color: rgb(9, 105, 250);
}

/* last column e-mail */
/* td a {
    color: #000;
    text-decoration: underline;
} */


.tooltip.bottom .tooltip-inner {
    background-color:green;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    white-space:pre-wrap;
    max-width: 800px;
    width: 800px;
    text-align: left;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}



.spinner {
    width: 100px;
  }
  .spinner input {
    text-align: right;
  }
  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
  }
  .input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
  }
  .input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
  }
  .input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
  }
  .input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
  }